<h1>Productos</h1>

<a href="/carts/69aa260f257ed50841857a0d">
<button>Ver carrito</button>
</a>

<br><br>

<div id="product-list">

{{#each products}}

<div class="product">

<h3>{{this.title}}</h3>

<p>Precio: ${{this.price}}</p>

<button onclick="addToCart('{{this._id}}')">
Agregar al carrito
</button>

<a href="/products/{{this._id}}">
<button>Ver detalles</button>
</a>

</div>

{{/each}}

</div>